 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
} */

body {
/*    background-color: #021a36; */
    background-image: linear-gradient(skyblue,black);
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}



.nombre {
    text-align: center;

}

.header img {
    height: 250PX;
    width: 250px;
    border-radius: 80%
}





.nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 98);
    color: white;
    height: 50px;
    font-weight: bold
}

.items-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    list-style: none;
}

.li-items {
    margin: 0 20px;
    text-decoration: none;
    transition: all .5s;
}

.li-items-link {
    text-decoration: none;
    color: white;

}

.li-items:hover {
    transform: scale(1.1);
    color: wheat;
}

table {margin: auto;}
th { font-size: 30px;
     color: white;
     text-decoration: underline;
     text-decoration-color: skyblue;}

td {padding: 10px;}  
footer { background-color: white;
         color: black;}

p{ color:white}
.foto img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display:flex; 
    margin: auto; 
    margin-top: 30px;
}
.titulo {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;

}

.apellido {
    color: #ff6b6b;
}
#section1 {
    text-align:left;
    font-size: 25px;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}
.caja1 {
    width: 300px;
    height: 300px;
    background-color: skyblue;
    border: 2px solid black;
    Margin: auto;
}
.caja2 {
    width: 100px;
    height: 100px;
    background: pink;
    border: 2px solid black;
}
.titulo{
    hover
}
.caja3 {
    width: 300px;
    font-size: 200px;
    background: : white;
    border: 3px solid 

}
.caja1 {
    width: 300px;
    margin: top 200px;
    letter-spacing: color; white-space: 30px;


}
#id 